form.recover(
	name='resetPasswordForm'
	method="post"
	ng-submit="$ctrl.restore()"
)
	.form-group.has-feedback
		input.form-control(
			name='email'
			type='email'
			ng-model='$ctrl.email'
			ng-required="true"
			placeholder="email"
			ng-change="$ctrl.change()"
		)
		span.glyphicon.glyphicon-envelope.form-control-feedback
		.red-text(ng-if="$ctrl.emailNotFound")
			| Email not found
	.row
		.col-xs-8
		.col-xs-4
			button.btn.btn-primary.btn-block.btn-flat(
				type="submit"
			)
				| Send