// BEGIN RESET PASSWORD FORM
//.sign-in__logo
  svg.icon
    use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#svg-logo')
form.reset-pass(
  novalidate
  ng-submit="$ctrl.reset(formReset)"
  name="formReset"
)
  h3.reset-pass__title 
    | Reset You password
  p.reset-pass__text 
    | Enter new password and confirm this password.
  .reset-pass__group(
    show-errors
  )
    input.input-main(
      type='password'
      name='newPassword'
      ng-model='$ctrl.form.newPassword'
      placeholder='New password'
      required
      ng-minlength='6'
      ng-maxlength='16')
  .reset-pass__group(show-errors)
    input.input-main(
      type='password'
      name='confirmPassword'
      ng-model='$ctrl.confirmPassword'
      placeholder='Confirm password'
      required
      ng-minlength='6'
      ng-maxlength='16')
    mgr-validation(
      form='formReset'
      field='formReset.newPassword'
      validators='$ctrl.validators.password')

  .alert.alert-danger(ng-if='$ctrl.error')
    button.close(type='button' ng-click='$ctrl.error = false;')
    | {{:: $ctrl.errorMsg}}

  .alert.alert-success(ng-if='$ctrl.isShowNotification')
    | New password was saved. You will be login soon.

  .reset-pass__actions(
    ng-if='!$ctrl.isShowNotification'
  )
    button(
      type='button'
      ui-sref='app.guest.sign-in'

    ).btn.btn-dark.btn-fixed Sing In
    button(
      type='submit'
      ng-disabled='formReset.$invalid || !$ctrl.doPasswordsMatch() || $ctrl.waitingForResponse'
    ).btn.btn-main.btn-fixed
      | Reset

// END FORGOT PASSWORD FORM
